/* Stili principali del contenitore della Card */
.movie-card-custom {
    width: 12rem; 
    min-height: 18rem; 
    border: none;
    overflow: hidden; 
    position: relative; 
    background-color: #555555; /* Colore di sfondo della card */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 
}

/* Stile per l'immagine */
.card-poster {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}


.image-gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Questo crea la sfumatura: da trasparente in alto, a nero in basso */
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 40%, 
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 1) 100% 
    );
    z-index: 2; 
}


.card-text-overlay {
    position: absolute;
    bottom: 0; 
    width: 100%;
    padding: 10px;
    color: white; 
    z-index: 3; 
}

.movie-title-card {
    font-size: 1rem; 
    margin-bottom: 3px;
    font-weight: bold;
}

.movie-genres-card {
    font-size: 0.7rem; 
    margin: 0;
    color: #ccc; 
}


.movie-card-custom:hover {
    transform: scale(1.05); 
    z-index: 10;
}