.movie-card-custom {
    width: 100%;
    height: 16rem;
    border: none;
    overflow: hidden;
    position: relative;
    background-color: #555;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
}

.card-content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.card-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 1) 100%
    );
    z-index: 2;
}

.card-text-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: white;
    z-index: 3;
}

.movie-title-card {
    font-size: .9rem;
    margin-bottom: 2px;
    font-weight: bold;
}


.movie-genres-card {
    font-size: .65rem;
    color: #ccc;
}

.movie-card-custom:hover {
    transform: scale(1.05);
    z-index: 10;
}


.movie-rating-card {
    font-size: .7rem;
    margin-top: 2px;
    color: gold;
}