.main-title {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.home-section-title {
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
}
