/* Setup Generale */
.home-container-main {
    overflow-x: hidden;
}

/* HERO SECTION */
.hero-container {
    position: relative;
    width: 100%;
    height: 85vh;
    background-size: cover;
    background-position: center top;
    color: white;
}

.hero-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgba(0,0,0,0.9) 0%,
        rgba(0,0,0,0.6) 40%,
        rgba(0,0,0,0.1) 100%
    );
    display: flex;
    align-items: center;
    padding-left: 4%;
}

.hero-content {
    max-width: 500px;
    z-index: 10;
    margin-top: 3rem;
}

.hero-branding {
    display: flex;
    align-items: center;
    gap: 15px; /* Aumentato spazio per via del cerchio */
    opacity: 1;
}

/* STILE LOGO HERO CON CERCHIETTO BIANCO */
.hero-brand-logo {
    height: 50px;        /* Un po' più grande nella Hero */
    width: 50px;
    padding: 8px;        /* Spazio interno */
    background-color: white;
    border-radius: 50%;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); /* Ombra più marcata */
}

.hero-brand-text {
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 1rem;
    color: #e5e5e5;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

.hero-title {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.hero-metadata {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;
    font-size: 1rem;
}
.match-score { color: #46d369; }
.year { color: #ccc; }
.rating-box { 
    border: 1px solid #ccc; 
    padding: 0 5px; 
    font-size: 0.8rem; 
    color: #ccc; 
}

.hero-overview {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hero-btn-primary {
    background-color: white;
    color: black;
    border: none;
    padding: 0.6rem 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4px;
    transition: all 0.2s;
}
.hero-btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.hero-btn-secondary {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
    border: none;
    padding: 0.6rem 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 4px;
    transition: all 0.2s;
}
.hero-btn-secondary:hover {
    background-color: rgba(109, 109, 110, 0.4);
}

.hero-fade-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(20, 20, 20, 0.61),
        #141414
    );
}

.movies-sliders-container {
    position: relative;
    z-index: 20;
    margin-top: -3rem;
}